<div class='headers'>
    <h1 class='display-4'>Welcome to Murray's Burger Joint</h1>


</div>
<div id='container-burger' class = 'all-burgers'>

    <div id='notEaten' class='burgers'>
        <h3>Not Eaten</h3>
        <ul>
            {{#each burgers}}
            {{#unless this.devoured}}
            <li>
                <p>{{this.id}} burger: {{this.burger_name}}</p>
                <input class='eatBurger' type = "submit" value='Eat Da Burger!' data-name='{{burger_name}}'/>
            </li>
            {{/unless}}
            {{/each}}
        </ul>

    </div>
    <div id='Eaten' class='burgers'>
        <h3>Eaten</h3>
        <ul>
            {{#each burgers}}
            {{#if this.devoured}}
            <li>
                <p>{{this.id}} burger: {{this.burger_name}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>

    </div>

</div>


<div id='burgerForm'>
    <h3>Add a new Hamburger to the Menu!</h3>
    <hr>
    <div id='makeBurger'>
        <form action="/" method="POST">
            <textarea id='newBurger' type="text" name="newBurger"></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>